.guidebook{
    display: grid;
    grid-template-columns: 240px auto;
    gap: 16px;
    background: var(--bgcat);
    border-radius: 16px;
    box-shadow: var(--boxshadow);
    overflow: hidden;
    backdrop-filter: blur(6px);
    max-width: 1000px;
}

  /* GUIDEBOOK - TOP BLOCK */
.guideTop {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 32px min-content auto;
    padding: 16px;
    background: var(--bgcat);
    backdrop-filter: blur(6px);
    box-shadow: var(--boxshadow);
    border-radius: var(--radiuscat);
    position: relative;
    z-index: 1;
    margin-top: 32px;
    margin-bottom: -24px;
    border-left: 2px white solid;
    gap: 16px;
}

.guideTop div{
  align-self: flex-end;
}
.guideTop_icon ion-icon{
  padding: 8px;
  background: #ffffff4a;
  border-radius: 8px;
}
.guideTop_Titre span {
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin-bottom: 8px;
    display: block;
}
.guideTop_Titre h1 {
    color: var(--blanc);
    font-family: var(--special-font);
    position: relative;
    font-size: 32px;
    line-height: 32px;
    font-weight: normal!important;
}
.guideTop_Menu {
    padding-left: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 20px;
    gap: 8px;
}
.guideTop_Menu a {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 8px;
    font-size: 9px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.5px;
    background: #ffffff22;
    padding: 0px 8px;
    border-radius: 4px;
    transition: var(--transi);
}
.guideTop_Menu a:hover{
    background: #ffffff55;
}
.guideTop_Menu a.selected{
    background-color: var(--fonce);
    color: var(--violet_dark);
}

.guideTop_Menu a b, .guideTop_Menu a strong{
    opacity: 0;
    position: relative;
    left: -10px;
    transition: var(--transi);
}
.guideTop_Menu a span{
    position: relative;
    left: -18px;
    transition: var(--transi);
    font-weight: 400;
}
.guideTop_Menu a:hover b, .guideTop_Menu a:hover strong, .guideTop_Menu a:hover span{
    opacity: 1;
    position: relative;
    left: 0px;
    font-weight: 600;
}
  
.cate_header.guideCate{ margin-top: 32px; }
.cate_header.guideCate cat2{
    margin: 16px auto 0px auto;
}
    
a.btn-back{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.5px;
    height: 34px;
}
a.btn-back ion-icon {
    font-size: 16px;
    line-height: 16px;
    position: relative;
    top: 2px;
    margin-bottom: -2px;
    margin-right: 4px;
}

.guideMenu.tabs-onglets{
    text-align: left;
    padding: 16px 0px 16px 16px;
}
.guideMenu ul{ list-style: none; padding: 0; }
ul.guideMenu_inner {
    overflow: hidden;
    display: block;
}
ul.guideMenu_inner.hide {
    /*display: block;*/
}
ul li a.toggle,
ul.guideMenu > li > a{
    width: 100%;
    display: block;
    background-color: rgba(255,255,255,0);
    background-size: 8px 8px;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;
    color: var(--violet_dark);
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 20px;
    margin-bottom: 8px;
    padding: 0px 8px;
    border-radius: 4px;
    transition: var(--transi);
}
body.light ul.guideMenu > li > a{ color: var(--bg1); }

ul li:last-child a.toggle{ 
    margin-bottom: 0px; 
}
ul.guideMenu > li > a:not(.toggle){ 
    background-image: none;
    background-color: rgba(255,255,255,0.1);
    display: grid;
    grid-template-columns: min-content auto;
    gap: 8px;
}
ul li a.toggle{ 
    background-image: var(--icon_chevron-down-light); 
    font-family: var(--special-font);
    font-size: 14px;
    padding: 0px;
    text-transform: initial;
}
ul li a.toggle.open{ background-image: var(--icon_chevron-up-light); }

/* ul li a.toggle:hover {
    background-color: rgba(255,255,255,0.1);
} */
ul.guideMenu_inner li{
    margin-bottom: 8px;
}
ul li:last-child ul.guideMenu_inner li a:first-child{ margin-top: 8px; }
ul li:last-child ul.guideMenu_inner li:last-child{ margin-bottom: 0px!important; }

ul.guideMenu_inner li a{
    width: 100%;
    background: rgba(255,255,255,0.1);
    color: var(--violet_dark);
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 20px;
    padding: 0px 8px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: min-content auto;
    gap: 8px;
    transition: var(--transi);
}
body.light ul.guideMenu_inner li a{ color: var(--bg1); }

ul.guideMenu_inner li a b,
ul.guideMenu > li > a:not(.toggle) b{
    opacity: 0;
    position: relative;
    left: -10px;
    transition: var(--transi);
}
ul.guideMenu_inner li a span,
ul.guideMenu > li > a:not(.toggle) span{
    position: relative;
    left: -18px;
    transition: var(--transi);
    font-weight: 400;
}

ul.guideMenu > li > a:not(.toggle):hover,
ul.guideMenu_inner li a:hover{
    background: rgba(255,255,255,0.2);
}
ul.guideMenu_inner li a:hover b, ul.guideMenu_inner li a:hover span,
ul.guideMenu > li > a:not(.toggle):hover b, ul.guideMenu > li > a:not(.toggle):hover span{
    opacity: 1;
    position: relative;
    left: 0px;
    font-weight: 600;
}

li.guideMenu_sep{
    height: 1px;
    width: 100%;
    display: block;
    background: var(--bgcat);
    margin: 16px 0px;
}
li.guideMenu_update{
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 20px;
    opacity: 0.5;
    text-align: center;
    padding: 8px 0px;
}

ul.guideMenu_inner li a.selected b, ul.guideMenu_inner li a.selected span,
ul.guideMenu > li > a:not(.toggle).selected b, ul.guideMenu > li > a:not(.toggle).selected span,
.guideTop_Menu a.selected b, .guideTop_Menu a.selected span{
    opacity: 1;
    position: relative;
    left: 0px;
    font-weight: 600;
}

.guidebook #contenu{ 
    background-color: var(--bg1); 
    max-width: 984px;
}
.guide_Contenu{
    font-size: 13px;
    line-height: 160%;
    background-color: var(--bg1);
    color: var(--tx_content);
    width: 100%;
}

.guide_Header{
    background-color: var(--bg2_light);
    display: grid;
    grid-template-columns: auto 260px;
    grid-auto-rows: min-content;
}
.guide_Header .sub-header-path{ margin-bottom: 8px; }
.guide_Header .sub-header-path a.nav{ color: var(--co2); }
.guide_Header .sub-header-path a.nav:hover{ color: var(--violet_dark); }
.guide_Header .sub-header-path a.nav:hover:before{ color: var(--co2); }

.guide_Header .guide_Titre{ padding: 16px 24px 8px 24px; }
.guide_Titre span.guide_SousTitre {
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 24px;
    display: block;
} 
.guide_Titre h3{
    font-family: var(--special-font);
    color: var(--tx_content);
    position: relative;
    font-size: 32px;
    line-height: 48px;
    font-weight: normal!important;
    border: none;
    margin-bottom: 0px;
}
.guide_Header img.guide_Img{
    object-fit: cover;
    width: 260px;
    height: 140px;
}
.guide_Texte{ padding: 24px;　}
.guide_Texte, .guide_Texte p{
    text-align: justify;
    font-size: 13px;
    line-height: 160%;
    width: 100%;
}
.guide_Texte a,
.guide_Texte a:active,
.guide_Texte a:visited{ color: var(--co2); }
.guide_Texte a:hover{ color: var(--co3_light); }

.guide_Texte sp, .guide_Texte dl.codebox.spoiler,
.guide_Texte dt.spoiler_title:after,
.guide_Texte .spoiler_content.hidden:before{
    background-color: var(--bg1);
}
.guide_Texte sp i, .guide_Texte sp em{ color: var(--bg1)!important; transition: var(--transi); }
.guide_Texte sp:hover i, .guide_Texte sp:hover em{ color: initial!important; transition: var(--transi); }

.guide_Texte dl.codebox dt{ margin-bottom: 0px!important; }

.guide_Texte img.fullwidth{ 
    max-width: 100%;
    margin: 16px auto; 
}
.guide_Texte p.img_credit {
    position: relative;
    top: -32px;
    margin-bottom: -32px;
    left: 8px;
}
.guide_Texte p.img_credit r3{ color: white!important; }

.guide_Texte ul.group_list {
    color: var(--tx_content);
    text-align: left;
    grid-template-columns: 1fr 1fr;
}
.guide_Texte ul.group_list li{ height: fit-content; border-radius: 16px; }
.guide_Texte ul.group_list li.dojin { 
    background: linear-gradient(136deg, rgba(var(--doj_rgb), 0.6), var(--bg2) 30%); 
}
.guide_Texte ul.group_list li.fugi { 
    background: linear-gradient(136deg, rgba(var(--fug_rgb), 0.6), var(--bg2) 30%);
}
.guide_Texte ul.group_list li.hiisa { 
    background: linear-gradient(136deg, rgba(var(--hii_rgb), 0.6), var(--bg2) 30%);
}
.guide_Texte ul.group_list li.raiyo { 
    background: linear-gradient(136deg, rgba(var(--rai_rgb), 0.6), var(--bg2) 30%);
}
.guide_Texte ul.group_list li.suisei { 
    background: linear-gradient(136deg, rgba(var(--sui_rgb), 0.6), var(--bg2) 30%);
}

.guide_Texte ul.group_list li a.maison_nom{
    font-size: 32px;
    line-height: 40px;
}
.guide_Texte ul.group_list li div{ color: var(--tx_content); }
.guide_Texte ul.group_list li p{ 
    font-size: 11px; 
    margin-bottom: 24px;
}
.guide_Texte ul.group_list li p.group_description {
    margin-bottom: 8px!important;
    height: 99px;
    overflow: auto;
    padding: 8px;
    border-radius: 8px;
    background: var(--bg1_tr);
    margin-top: 8px;
}
.guide_Texte ul.group_list li p.group_description::-webkit-scrollbar-thumb{ background-color: var(--co2)!important; }

.guide_Texte ul.group_list li div.group_adj{
    margin-top: 16px;
    padding: 8px;
    text-align: left;
    border-radius: 8px;
    margin-bottom: 32px;
}
body.light .guide_Texte ul.group_list li div.group_adj{
    background: linear-gradient(to bottom, var(--bg1) 50%, rgba(255,255,255,0) 100%);
}
body.dark .guide_Texte ul.group_list li div.group_adj{
    background: linear-gradient(to bottom, var(--bg1) 50%, rgba(var(--co3_rgb),0) 100%);
}

.guide_Texte ul.group_list li div.group_adj p{
    font-size: 10px;
    text-transform: initial;
    letter-spacing: 0px;
    margin: 0px;
}
.guide_Texte ul.group_list li div.group_adj p b{
    text-transform: uppercase;
    font-size: 9px;
}
.guide_Texte ul.group_list li div.group_adj hr{
    margin: 8px 0px;
    background-color: var(--bg2_light);
    height: 1px;
    width: 100%;
}

/* --- GUIDEBOOK - CHRONOLOGIE --- */
.guide_Texte .chrono{ grid-row-gap: 8px; padding: 0px; }
.guide_Texte .chrono_date{ width: 80px; background-color: var(--bg1); padding: 8px 0px; }
.guide_Texte .chrono_date t9::after{ display: none; }
.guide_Texte .chrono_date::after { 
    background-color: var(--co1); 
    height: 100%; 
    position: relative;
    top: 8px; 
}

.guide_Texte .chrono_titre{
    padding: 24px 0px;
    text-align: center;
    width: 100%;
    display: block;
    grid-column: span 2;   
    position: relative;
}
.guide_Texte span.chrono_titre:before {
    content: " ";
    display: block;
    position: absolute;
    width: 1px;
    height: 100%;
    background: var(--co1);
    top: 0px;
    left: 39.5px;
}

.guide_Texte .chrono_titre span {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 24px;
    display: block;
}
.guide_Texte .chrono_titre span:first-child{ font-weight: bold; }

.guide_Contenu__Titre {
    font-family: var(--special-font);
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 8px;
}

.guide_Contenu__Para {
    padding: 16px;
    background-color: var(--bg2_light);
    border-radius: 8px;    
}

.guide_Contenu__Somm {
    padding: 16px;
    background-color: var(--bg2_light);
    border-radius: 8px;    
    margin-bottom: 8px;
}

ul.guide_Liste li{
    margin-left: 8px;
    margin-right: 8px;
}
ul.guide_Liste li::before{
    content: "->";
    display: inline-block;
    color: var(--co2);
    font-weight: bold;
    margin-right: 8px;
}

.guide_Texte div.note{
    margin: 0px;
    border-bottom: 0px;
}
.guide_Texte div.note::-webkit-scrollbar-thumb{ background-color: var(--co2); }

.guide_Texte blockquote.blckqt{
    margin-bottom: 24px; 
    max-width: 100%; 
    font-size: 11px;
    line-height: 18px;
    border-radius: 8px;
    border-left: 2px var(--co2) solid!important;
    border-right: 2px var(--co2) solid!important;
}
.guide_Texte blockquote.blckqt p{
    font-size: 11px!important;
    line-height: 18px;
}
body.dark .guide_Texte blockquote.blckqt{ background-color: var(--bg1_tr); }
body.light .guide_Texte blockquote.blckqt{ background-color: var(--co3_fluo); }

.guide_Texte blockquote.blckqt.resume{
    max-width: 100%; 
    width: 100%;
}
.guide_Texte hr{
    background: var(--bg2_light);
    margin: 24px 0px;
}

div.credo{
    margin-bottom: 24px;
    padding: 16px;
}
div.credo:after{
    display: block;
    height: 1px;
    width: 112px;
    background-color: var(--co2);
    margin: 24px auto 0px auto;
    content: " ";
}

p.credo_jp {
    text-align: center;
    margin-bottom: 4px;
}
p.credo_rom {
    text-align: center;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    opacity: 0.5;
    font-weight: 500;
    margin-bottom: 8px;
}
p.credo_eng {
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 0px;
    color: var(--co2);
    font-family: var(--special-font);
}

.tokidai-map { position: relative; }
.tokidai-map img:first-child{ 
    opacity: 0; 
    transition: var(--transi); 
    position: absolute;
}
.tokidai-map:hover img:first-child{ opacity: 1; }

.guide_Texte .img_light,
.guide_Texte .img_dark{
    width: 100%;
    position: relative;
}
body.light .guide_Texte .img_dark,
body.dark .guide_Texte .img_light{ display: none; }

/* BRANCHES ONGLETS */

.branches_wrapper {
    display: grid;
    gap: 8px;
    align-items: start;
    grid-template-columns: 188px auto;
}

div.branches-onglets {
    display: grid;
    grid-row-gap: 8px;
    justify-items: center;
    align-content: center;
    align-items: center;
}

div.branches-onglets a.branches_ong {
    align-items: center;
    align-content: center;
    justify-items: center;

    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    gap: 8px;
    font-family: var(--font)!important;
    background-color: var(--bg2_light);!important;
    color: var(--violet_dark)!important;
    padding: 12px 8px!important;
    border-radius: 8px;
    opacity: 0.5;
    transition: var(--transi);
    font-size: 9px;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: 0px!important;
    margin: 0px!important;

    border-right: 2px solid var(--bg2_light);
    border-left: 2px solid var(--bg2_light);
}
div.branches-onglets a.branches_ong.selected, 
div.branches-onglets a.branches_ong:hover {
    opacity: 1;
    border-right: 2px solid var(--co2);
    border-left: 2px solid var(--co2);
    border-radius: 16px;
}
div.branches-onglets a.branches_ong ion-icon,
div.branches-onglets a.branches_ong i{
    color: var(--violet_dark);
    font-size: 16px;
    margin: 2px;
}
div.branches-onglets a.branches_ong:hover ion-icon, 
div.branches-onglets a.branches_ong:hover i {
    animation: btq-hover 1s infinite linear;
}
div.branches-onglets a.branches_ong bg5{
    font-size: 9px;
    transition: var(--transi);
}
div.branches-onglets a.branches_ong.selected bg5{
    background-color: var(--co2)!important;
    color: white!important;
}
div.branches-onglets a.branches_ong strong{
    letter-spacing: 1px;
}

div.branches_ong_contenu{
    padding: 16px;
    background-color: var(--bg2_light);
}
div.branches_ong_contenu div.listing.col1{
    background: transparent;
    padding: 0px;
}
p.branche_desc {
    background: var(--bg1);
    z-index: 1;
    position: relative;
    padding: 8px;
    font-size: 11px;
    margin-top: 8px;
}

table.guide_Table {
    font-size: 11px;
    line-height: 18px;
    text-align: left;
}
table.guide_Table th {
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 0.5px;
}
table.guide_Table td {
    background: var(--bg1);
    padding: 8px;
    vertical-align: top;
}


a.guide_Btn,
a.guide_Btn:visited,
a.guide_Btn:active {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: white!important;
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 16px auto 0px auto;
    transition: var(--transi);

    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background-image: linear-gradient(90deg, var(--co2_light), var(--co2), var(--co2_light));
    background-size: 200% 100%;
    background-position: 0% 0%;

    box-shadow: none;
    transform: scale(1);
    transform-origin: center;
}
a.guide_Btn:hover{
    color: white!important;
    background-position: 100% 0%;
    box-shadow: var(--boxshadow);
    transform: scale(1.025);
}

a.guide_Btn.inverted,
a.guide_Btn.inverted:active,
a.guide_Btn.inverted:visited{
    color: var(--co2)!important;
    background-color: var(--bg1)!important;
    background-image: none!important;
}
a.guide_Btn.inverted.gris{
    background-color: var(--bg2)!important;
    background-image: none!important;
}
a.guide_Btn.inverted:hover{ color: var(--co2)!important; }
