/* ---- INSTA - PREMIER POST ----- */

.mk_insta{
  width: 500px;
  margin: auto;
  display: grid;
  grid-row-gap: 0px;
  background: var(--bgcat);
  box-shadow: var(--boxshadow);
  border-radius: 78px 8px 8px 8px;
  overflow: hidden;
}
.mk_insta br{ display: none; }
.mk_insta desc br{ display: block; }

mk_credits{
  display: block;
  text-align: center;
  font-size: 8px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.5;
  padding: 8px;
  line-height: 20px;
}
.mk_insta_Header{
  border-radius: 64px 0px 0px 0px;
  display: grid;
  grid-row-gap: 1px;
  margin: 16px;
}
.mk_insta_HeaderRow1{
  display: grid;
  grid-template-columns: 88px auto;
  grid-column-gap: 16px;
  padding: 16px;
  background-color: rgba(var(--bg1_rgb),0.4);
  border-radius: 64px 4px 0px 0px;
  overflow: hidden;
}
instapp{ position: relative; text-align: center; }
instapp img.mk_insta_pp {
  border-radius: 50%;
  height: 72px;
  width: 72px;
  position: relative;
  top: 8px;
  object-fit: cover;
  z-index: 2;
}
instapp:after {
  z-index: 1;
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  padding: 1px;
  background: linear-gradient(to left,var(--co1),var(--co2),var(--co3));
  -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  transition: var(--transi);
  animation: rotate 3s linear infinite 0s;
}
.mk_insta_HeaderContent{
  display: grid;
  grid-row-gap: 8px;
  position: relative;
}
.mk_insta nom {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
verif,
locked{
content: " ";
height: 16px;
width: 16px;
display: inline-block;
margin: 0px 4px;
background-position: center center;
background-repeat: no-repeat;
}
verif::after{ display: none!important; }
verif{ background-image: var(--icon_verified-pink); background-size: 16px 16px; }
locked{ background-image: var(--icon_locked-pink); background-size: 12px 12px; }
.mk_insta .mk_insta_HeaderContent nom verif,
.mk_insta .mk_insta_HeaderContent nom locked{ vertical-align: -2px; }

.mk_insta nom:after{
  display: inline-block;
  content: "+ Follow";
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 16px;
  padding: 0px 6px;
  color: white;
  background-image: linear-gradient(90deg, var(--co2_light), var(--co2));
  background-size: 100% 100%;
  border-radius: 4px;
  position: absolute;
  top: 0px;
  right: 0px;
}
.mk_insta desc {
  display: block;
  padding: 8px;
  background: var(--bg1);
  border-radius: 4px;
  color: var(--co3_light);
  font-size: 12px;
}
.mk_insta desc strong{ color: var(--violet_dark); }
.mk_insta follow { font-size: 10px; }
.mk_insta_HeaderRow2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1px;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}
.mk_insta_HeaderRow2 stat{
  padding: 8px;
  display: block;
  width: 100%;
  text-align: center;
  background-color: rgba(var(--bg1_rgb),0.4);
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
/* ---- INSTA FIRST POST - STORIES ----- */
.mk_insta_Stories{
  display: flex;
  gap: 8px;
  padding: 8px 16px 16px 16px;
  width: 500px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: -8px;
}
.mk_insta_Stories::-webkit-scrollbar{ display: none!important; }
.mk_insta_Stories a{ text-align: center; position: relative; transform: scale(100%,100%); transition: var(--transi); }
.mk_insta_Stories a:hover{ transform: scale(105%,105%);}
.mk_insta_Stories a img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin: 4px;
    transition: var(--transi);
    opacity: 1;
    box-shadow: none; 
}
.mk_insta_Stories a:hover img{ box-shadow: var(--boxshadow); }
.mk_insta_Stories a:after {
  z-index: 1;
  content: " ";
  position: absolute;
  top: 0px;
  left: 8px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 1px;
  border: 1px solid white;
  transition: var(--transi);
  opacity: 1;
}
.mk_insta_Stories a span{
  display: block;
  transition: var(--transi);
  color: var(--violet_dark);
  width: 64px;
  max-width: 64px;
  font-size: 10px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-shadow: none;
  text-align: center;
}
.mk_insta_Stories a:hover span{ color: var(--co2); text-shadow: var(--boxshadow); }


.mk_insta_Tabs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-column-gap: 1px;
}
.mk_insta_Tabs tab{
  display: block;
  width: 100%;
  text-align: center;
  background: rgba(var(--bg1_rgb),0.4);
  padding: 8px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: var(--co2);
  transition: var(--transi);
  cursor: pointer;
}
.mk_insta_Tabs tab.selected,
.mk_insta_Tabs tab:hover{
  background: var(--bg1);
  color: var(--violet_dark);
}
.mk_insta_Tabs tab ion-icon{
  font-size: 14px;
  position: relative;
  top: 3px;
  margin-right: 2px;
  margin-top: -3px;
}
.mk_insta_Grid{
  display: grid;
  background: transparent;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 166px;
  grid-row-gap: 1px;
  grid-gap: 1px;
  overflow: auto;
  opacity: 0;
  transform: scale(0%,0%);
  height: 0px;
  transform-origin: center center;
  transition: all 0.5s ease;
}
.mk_insta_Grid::-webkit-scrollbar{ display: none; }
.insta-showed {
  opacity: 1;
  transform: scale(100%,100%);
  min-height: 500px;
  background: rgba(var(--bg1_rgb),0.6);
}
@keyframes showInsta{
  0%{ transform: scaleY(0%); opacity: 0; min-height: 0px; background: transparent; }
  100%{ transform: scaleY(100%); opacity: 1; min-height: 500px; background: rgba(var(--bg1_rgb),0.6); }
}
.mk_insta_Grid br{ display: none; }

.grid-img{ 
  position: relative;
  aspect-ratio: 1;
  overflow: hidden;
}
.mk_insta_Grid img{
  aspect-ratio: 1;
  object-fit: cover;
}
img-stats{
  opacity: 0;
  transition: var(--transi);
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 0%;
  text-align: center;
  color: var(--blanc);
  font-size: 12px;
  font-weight: 600;
  height: 0%;
  background: transparent;
  border-radius: 50%;
  transform-origin: center center;
  backdrop-filter: blur(0px) saturate(1);
  margin: calc((100% - 50px)/2) 50%;
}
.mk_insta_Grid .grid-img:hover img-stats{
  opacity: 1;
  background: var(--co3_fond);
  border-radius: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  backdrop-filter: blur(2px) saturate(0);
}
.grid-img > ion-icon{
    position: absolute;
    z-index: 3;
    color: var(--blanc);
    top: 8px;
    right: 8px;
    font-size: 14px;
    opacity: 1;
    transition: var(--transi);
}
.grid-img:hover > ion-icon{ opacity: 0; }
img-stats stat{
  display: grid;
  grid-gap: 8px;
  width: 64px;
  text-align: center;
  align-items: center;
  justify-items: center;
  font-size: 12px;
  height: 0px;
  opacity: 0;
  transition: var(--transi);
}
.mk_insta_Grid .grid-img:hover img-stats stat{
  height: 50px;
  opacity: 1;
}
img-stats stat ion-icon{    
  font-size: 24px;
  --ionicon-stroke-width: 20px;
}

/* ---- INSTA - POSTS ET ACTIONS ----- */
.insta_Post, 
.insta_Action{ border-radius: 12px; }
.insta_Post .mk_insta_Header{ margin: 16px; margin-bottom: 0px; }
.insta_Action .mk_insta_Header{ margin: 16px; }

.insta_Post .mk_insta_HeaderRow1,
.insta_Action .mk_insta_HeaderRow1{
  grid-template-columns: 40px auto;
  padding: 8px;
  border-radius: 8px 8px 0px 0px;
  grid-column-gap: 8px;
}
.insta_Action .mk_insta_HeaderRow1{ border-radius: 0px 0px 8px 8px; }
.insta_Post .mk_insta_HeaderContent,
.insta_Action .mk_insta_HeaderContent{ align-items: center; }
.insta_Post instapp,
.insta_Action instapp{ height: 40px; }
.insta_Post instapp img.mk_insta_pp,
.insta_Action instapp img.mk_insta_pp{
  width: 32px;
  height: 32px;
  top: 4px;
}
.insta_Post instapp:after,
.insta_Action instapp:after{ width: 40px; height: 40px; }
.insta_Action verif{
  vertical-align: -4px;
  margin: 0px;
}
.mk_insta.insta_Post nom{ font-size: 14px; }
.mk_insta.insta_Post nom:after {
  content: "Following";
  color: var(--co2);
  background: var(--bg1);
  border: 1px solid var(--bg1);
  top: 12px;
  right: 8px;
}
.insta_Post .mk_insta_Grid{
  opacity: 1;
  transform: scale(100%,100%);
  height: auto;
  display: block;
  position: relative;
  width: 500px;
  height: 500px;
  box-shadow: var(--boxshadow);
  background-color: var(--bg1);
  transition: var(--transi);
}
.insta_Post .mk_insta_Grid img{ position: absolute; transition: var(--transi); width: 100%; height:100%; }
div.insta_nav{
  position: relative;
  top: -40px;
  margin-bottom: -40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  flex-gap: 8px;
  background-image: linear-gradient(180deg, transparent, var(--co3_fond));
}
div.insta_nav a{
  display: inline-block;
  width: 8px;
  height: 8px;
  content: " ";
  border: 1px solid white;
  border-radius: 50%;
  margin: 0px!important;
}
div.insta_nav a.selected{ background: white; }
.mk_insta_PostInfo{
  margin: 0px 16px 16px 16px;
  border-radius: 0px 0px 8px 8px;
  overflow: hidden;
  display: grid;
  grid-row-gap: 1px;
}
.PostInfo_Buttons,
.PostInfo_Desc,
.PostInfo_Comments,
.PostInfo_Date{
  padding: 8px;
  background: rgba(var(--bg1_rgb),0.4);
}
.PostInfo_Buttons{
  display: flex;
  gap: 8px;
  font-size: 12px;
  line-height: 20px;
  align-items: center;
}
.PostInfo_Buttons ion-icon{ 
  font-size: 20px; 
  --ionicon-stroke-width: 20px; 
  color: var(--violet_dark);
  transition: var(--transi);
}
.PostInfo_Buttons ion-icon:hover{ color: var(--co2); }
.PostInfo_Comments{ 
  background: rgba(var(--bg1_rgb),0.6); 
  display: grid;
  grid-auto-rows: max-content;
  grid-row-gap: 1px;
  max-height: 192px;
  overflow: auto;
}
.PostInfo_Comments::-webkit-scrollbar-thumb{background-color: var(--co2)!important;}
.PostInfo_Comments,
.PostInfo_Date{
  color: var(--co3_light);
  font-size: 9px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  line-height: 20px;
}

.PostInfo_Comments comment{
  font-size: 12px;
  letter-spacing: 0px;
  text-transform: initial;
  line-height: 20px;
  color: var(--violet_dark);
}
.mk_insta_Titre {
  padding: 4px 8px;
  border-radius: 8px 8px 0px 0px;
  background: rgba(var(--bg1_rgb),0.6);
  color: var(--co3_light);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 9px;
}
.mk_insta_Titre ion-icon{ vertical-align: -1px; }
.mk_insta_ActionContent {
  display: grid;
  grid-row-gap: 4px;
  grid-auto-rows: min-content;
  align-items: center;
}
.mk_insta_ActionContent text{
  height: fit-content;
  line-height: 20px;
}
.mk_insta_ActionContent strong{ font-weight: 600!important; display: inline-block; }
.mk_insta_ActionButtons {
  display: flex;
  gap: 4px;
  font-size: 11px;
  line-height: 16px;
  align-items: center;
}
.mk_insta_ActionButtons ion-icon:first-child{ color: var(--co2); vertical-align: -1px; }
.mk_insta_ActionButtons ion-icon:nth-child(2){ color: var(--co3_light); vertical-align: -1px; }
.mk_insta_ActionDate {
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--co3_light);
}
/* ------ INSTA - STORIES ------- */
.mk_insta_story{
  width: 280px;
  height: 500px;
  overflow: hidden;
  margin: auto;
  box-shadow: var(--boxshadow);
  border-radius: 8px;
  position: relative;
  color: white;
  background-color: var(--bgcat);
  text-align: center;
}
.mk_insta_story br{ display: none; }
.mk_insta_story > ion-icon{
  font-size: 24px;
  position: absolute;
  bottom: 8px;
  right: 8px;
  transition: var(--transi);
}
.mk_insta_story > ion-icon:hover{ color: var(--co2); }
.story_img{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 280px;
  height: 500px;
}
.story_img img{
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
  height: 500px;
  width: 280px;
}
.story_img:after{
  position: absolute;
  top: 0px;
  width: 280px;
  height: 250px;
  display: block;
  content: " ";
  background-image: linear-gradient(180deg, var(--co3_fond), transparent);
}
.story_nav{
  position: absolute;
  z-index: 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));
  grid-column-gap: 8px;
  width: 100%;
  max-width: 280px;
  padding: 8px;
}
.story_nav a.msg_ong {
  width: 100%;
  background: white!important;
  height: 2px;
  content: " ";
  display: block;
  opacity: 0.5;
  transition: var(--transi);
  padding: 0px!important;
  border: 0px!important;
}
.story_nav a.msg_ong.selected{ opacity: 1; }
.mk_insta_StoryHeader {
  position: absolute;
  z-index: 3;
  top: 12px;
  margin: 8px;
  padding: 8px;
  font-size: 12px;
  line-height: 16px;
  background: rgba(var(--blanc_rgb),0.4);
  box-shadow: var(--boxshadow);
  border-radius: 4px;
  width: 264px;
  display: flex;
  gap: 8px;
  align-items: center;
  text-align: left;
}
.mk_insta_StoryHeader > strong{ font-weight: 600!important; }
.mk_insta_StoryHeader > span{
  display: block;
  font-size: 10px;
}
.mk_insta_StoryHeader ion-icon{
  font-size: 8px;
  padding: 4px;
  background: #6CD726;
  border-radius: 4px;
  float: right!important;
  position: absolute;
  right: 8px;
}
a.instamention{
  position: relative;
  z-index: 3;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  text-shadow: var(--boxshadow);
  transition: var(--transi);
  transform: scale(100%,100%);
}
instatag{
  position: relative;
  z-index: 4;
  display: inline-block;
  padding: 2px 8px;
  background: white;
  border-radius: 4px;
  box-shadow: var(--boxshadow);
  font-size: 16px;
  line-height: 24px;
  transition: var(--transi);
  transform: scale(100%,100%);
}
instatag span{
  background: linear-gradient(90deg,var(--co2), var(--min));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
instatag:hover, a.instamention:hover{ transform: scale(105%,105%); }


/* ------ ELIXIR ------- */
.mk_elixir {
  width: 280px;
  height: 560px;
  background: var(--bg0);
  box-shadow: var(--boxshadow);
  border-radius: 64px 8px 64px 8px;
  overflow: hidden;
  margin: auto;
  position: relative;
  z-index: 0;
}
.mk_elixir br{display: none;}
.mk_elixir bio br{display: block;}
.wave_container{
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
  height: 144px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
.wave {
  position: absolute;
  bottom: -24px;
  width: 6400px;
  height: 100%;
  animation: wave 7s cubic-bezier(.36,.45,.63,.53) infinite;
  transform: translate3d(0,0,0);
}
.wave:nth-of-type(2) {
  bottom: -24px;
  animation: wave 7s cubic-bezier(.36,.45,.63,.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}
.foudre .wave { background: var(--wave-foudre) repeat-x; }
.feu .wave { background: var(--wave-feu) repeat-x; }
.air .wave { background: var(--wave-air) repeat-x; }
.eau .wave { background: var(--wave-eau) repeat-x; }
.terre .wave { background: var(--wave-terre) repeat-x; }
.mk_elixir_header {
  color: white;
  font-size: 9px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  line-height: 16px;
  text-align: center;
  padding: 16px 16px 0px 16px;
  position: relative;
  z-index: 1;
}
.mk_elixir_header ion-icon{ vertical-align: -1px; }
.mk_elixir_pp{ margin: 32px 0px 24px 0px; position: relative; }
.mk_elixir_pp .msg_ong_contenu{
  display: block;
  width: 112px;
  height: 112px;
  overflow: hidden;
  margin: auto;
  border-radius: 32px 0px 32px 0px;
  box-shadow: var(--boxshadow);
  position: relative;
  z-index: 1;
  background-color: var(--bg1);
}
.mk_elixir_pp .msg_ong_contenu img{ position: absolute; top: 0px; left: 0px; object-fit: cover; }
.mk_elixir_pp .tabs-onglets{
  display: grid;
  grid-row-gap: 6px;
  position: absolute;
  top: 0px;
  right: 72px;
  z-index: 3;
  grid-auto-rows: 8px;
  width: 8px;
  justify-items: center;
}
.mk_elixir_pp .tabs-onglets a.msg_ong {
  display: block;
  height: 6px;
  width: 6px;
  padding: 0px!important;
  background: rgba(var(--bg1_rgb),0)!important;
  border: 1px solid white!important;
  border-radius: 50%;
  position: relative;
  z-index: 3;
  cursor: pointer;
  content: " ";
}
.mk_elixir_pp .tabs-onglets a.msg_ong.selected { background: white!important; }
.mk_elixir_profil {
  margin: 0 24px;
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}
.mk_elixir_profil nom {
  display: block;
  font-size: 12px;
  line-height: 24px;
  color: var(--co3_light);
}
.mk_elixir_profil nom strong{
  font-size: 16px;
  color: var(--violet_dark);
  font-weight: 500;
  margin-right: 2px;
}
.mk_elixir_profil tag{
  display: inline-block;
  padding: 0px 4px;
  line-height: 16px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: white;
  border-radius: 2px;
  margin: 4px 0px;
}
.mk_elixir_profil tag i{ color: white!important; }
.mk_elixir_profil tag ion-icon{ vertical-align: -1px; }
.foudre .mk_elixir_profil tag{ background: var(--den); }
.feu .mk_elixir_profil tag{ background: var(--kas); }
.air .mk_elixir_profil tag{ background: var(--kaz); }
.eau .mk_elixir_profil tag{ background: var(--miz); }
.terre .mk_elixir_profil tag{ background: var(--dai); }
.mk_elixir_details {
  display: grid;
  grid-row-gap: 1px;
  grid-auto-rows: max-content;
  overflow: hidden;
  height: auto;
  padding-top: 12px;
  width: 100%;
  margin-top: 8px;
  border-top: 1px solid var(--bg1);
  align-items: start;
  align-content: start;
}
.mk_elixir_details info {
  width: 100%;
  background: var(--bg2);
  font-size: 9px;
  line-height: 16px;
  color: var(--co3_light);
  padding: 2px 4px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 0px;
  border: 0px;
}
.mk_elixir_details info:nth-child(2){ border-radius: 4px 4px 0px 0px; }
.mk_elixir_details info:nth-child(4){ border-radius: 0px 0px 4px 4px; }
.mk_elixir_details tags {
  padding-top: 8px;
  padding-bottom: 8px;
  gap: 4px;
  display: flex;
  max-width: 232px;
  flex-wrap: wrap;
  width: 100%;
  grid-auto-rows: 20px;
  align-items: start;
  align-content: start;
  justify-items: start;
}
.mk_elixir_details tags span {
  display: inline-flex;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 2px 4px;
  line-height: 16px;
  border-radius: 4px;
  color: var(--co3_light);
  background: var(--bg2);
}
.mk_elixir_details bio {
  max-height: 96px;
  height: -webkit-fill-available;
  overflow: auto;
  border-radius: 8px;
  padding: 8px;
  font-size: 10px;
  line-height: 16px;
  color: var(--co3_light);
  background: var(--bg2);
}
.mk_elixir_details bio::-webkit-scrollbar{ display: none!important; }
.mk_elixir_buttons{
  display: grid;
  grid-template-columns: 48px 48px;
  justify-content: center;
  grid-column-gap: 24px;
  width: 100%;
  height: 48px;
  margin: 12px 0px 24px 0px;
  position: absolute;
  bottom: 0px;
}
.mk_elixir_buttons ion-icon{
  background: rgba(var(--bg1_rgb),0.6);
  width: 24px;
  height: 24px;
  padding: 12px;
  border-radius: 50%;
  box-shadow: var(--boxshadow);
  color: var(--co3_light);
  transform: scale(100%,100%);
  transition: var(--transi);
}
.mk_elixir_buttons ion-icon:first-child{ color: #CF436B; }
.mk_elixir_buttons ion-icon:first-child:hover{ transform: scale(104%,104%); animation: pulselike 2s ease infinite; }
.mk_elixir_buttons ion-icon:nth-child(2):hover{ animation: shake 1s ease infinite; }

/* ------ ELIXIR - LIKES ------- */
.mk_elixir.like{
  height: auto;
  display: grid;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  padding: 16px;
  background: rgba(var(--bg1_rgb),0.4);
}
.mk_elixir.like .elixir_like_content{
  width: 100%;
  background: rgba(var(--bg1_rgb),0.8);
  padding: 16px;
  display: flex;
  border-radius: 48px 8px 48px 8px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.mk_elixir.like nom{
  color: var(--co3_light);
  font-size: 12px;
  line-height: 24px;
  width: 100%;
  padding: 0px 24px;
}
.mk_elixir.like nom strong{ display: block; color: var(--violet_dark); font-weight: 500; letter-spacing: 0.5px; font-size: 16px; } 
.mk_elixir.like ion-icon[name="heart"]{
  background: var(--bg1);
  width: 24px;
  height: 24px;
  padding: 12px;
  border-radius: 50%;
  box-shadow: var(--boxshadow);
  transform: scale(100%,100%);
  transition: var(--transi);
  color: #CF436B; 
  animation: pulselike 2s ease infinite;
}
.mk_elixir.like ion-icon[name="heart"]:hover{ transform: scale(104%,104%); }
.mk_elixir.like.eau ion-icon[name="heart"]{ color: var(--miz); animation: pulsemiz 2s ease infinite; }

/* ------ ELIXIR MATCH ----- */
.mk_elixir.match{ width: 500px; }
.mk_elixir.match icons{display: flex; align-items: center; gap: 16px; }  
.mk_elixir.match icons img{ width: 64px; border-radius: 50%; }
.mk_elixir.match tit{ font-size: 16px; line-height: 24px; width: 100%; font-weight: 600; order: initial; text-align: center;}
.mk_elixir.like.match nom strong { display: inline-block; font-weight: 500; font-size: 12px; }


/* ---- MINI INSTA ----- */
.mk_insta.mini{ width: 360px; border-radius: 64px 8px 8px 8px; }
.mini .mk_insta_Header{ margin-bottom: 0px; }
.mini .mk_insta_HeaderRow1{ grid-template-columns: 72px auto; grid-column-gap: 8px; border-radius: 50px 4px 0px 0px; }
.mini instapp img.mk_insta_pp{ height: 56px; width: 56px; top: 3px;}
.mini instapp:after{ top: -1px; left: 4px; width: 64px; height: 64px; }
.mini .mk_insta_HeaderContent { grid-row-gap: 4px; }
.mini nom{font-size: 12px!important;} .mini nom:after{display: none!important;} .mini .mk_insta desc:not(.mini .PostInfo_Desc desc){font-size: 10px!important;}
.mini .mk_insta_Grid{ min-height: 240px; transform: none; opacity: 1; background: var(--bg1); box-shadow: var(--boxshadow); grid-auto-rows: 119px;overflow:auto;}
.mini .mk_insta_HeaderRow2#stats { grid-column-gap: 0px; margin: 16px; margin-top: 0px; border-radius: 0px 0px 4px 4px; }
.mini .mk_insta_HeaderRow2 stat{ font-size: 9px; line-height: 16px; }
.mini .mk_insta_HeaderRow2 stat strong{ font-size: 10px; display: block;}

.mini.insta_Post{ border-radius: 8px; }
.mini.insta_Post .mk_insta_Header{ margin: 16px; margin-bottom: 0px; }
.mini.insta_Post .mk_insta_HeaderRow1{ border-radius: 8px 8px 0px 0px; grid-template-columns: 40px auto; }
.mini.insta_Post instapp img.mk_insta_pp{ width: 32px; height: 32px; top: 4px; }
.mini.insta_Post instapp:after{ width: 40px!important; height: 40px!important; top: 0px!important; left: 0px!important; }
.mini.insta_Post img.mini-insta{ width: 360px; height: auto; box-shadow: var(--boxshadow); aspect-ratio: unset; position: relative; }
.mini.insta_Post .mk_insta_PostInfo { margin: 0px 16px 16px 16px; }
