/* --- INFOBULLE --- */
.infobulle{position:relative;z-index:0}
.infobulle:hover{z-index:50;cursor:pointer}
.infobulle>span{position:absolute;font-family: var(--font);background-color:var(--mid);border:1px solid var(--clair);padding:4px 8px 8px;transform:scale(0);visibility:hidden;top:20px;left:0;z-index: 999;}
.infobulle:hover>span{visibility:visible;transform:scale(1);width:250px;letter-spacing:0!important;text-transform:none!important;font-weight:400!important;font-size:11px!important;color:var(--tx);border:1px solid var(--clair)}
.infobulle>span a{font-size:11px}
.infobulle>span br{ display: block; }

.infobulle_big{margin:0 auto;width:40px;height:40px;color:black;background-color:white;border-radius:50%;display:flex;justify-content:center;align-items:center;font-size:2rem;font-family:var(--special-font)}
.infobulle_big>span{top:35px!important;left:-110px!important}

/* ---- AES POST 1 - TEXTES SPÉCIAUX ---- */
l{color:var(--co2);float:left;margin-right:10px;font-family:var(--special-font);font-size:60px;line-height:48px;padding-top:6px}

bb{background:linear-gradient(to right,var(--co2),var(--co4));background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent;text-shadow:0 0 #00000000;font-weight:600}
bb1,bb2,bb3,bb4{font-weight:600}
ba1,bb1,bb3,c1{color:var(--violet_dark)}
ba2,bb2,bb4,c2{color:var(--co2)}

ba1,ba2{font-family:var(--special-font);font-size:14px}

bb3{text-transform:lowercase;}
bb3::before,bb4::before{content:'※';margin-right: 3px; font-size: 10px; line-height: 1.5em;}
bb3::after,bb4::after{content:'・'; margin-right: -4px;}

bg1:not(.cate_forum_desc bg1),bg2,bg3,bg4,bg5{padding:2px 4px;line-height:20px;text-transform:uppercase;font-size:9.5px;letter-spacing:1px; font-weight:600;border-radius:4px}

bg1{color:var(--blanc);background-color:var(--co2_light);border:none}
bg2{color:var(--blanc);background-color:var(--co2);border:none}
bg3{color:var(--blanc);background-color:var(--co4);border:none}
bg4{color:var(--blanc);background-color:var(--noir)}
bg5{color:var(--noir);background-color:var(--blanc)}

dai,den,kan,kas,kaz,maj,miz,sen{font-weight:600}
.kan,.maj,kan,maj{color:var(--maj)!important}
.kaz,kaz{color:var(--kaz)!important}.sen,sen{color:var(--sen)!important}
.dai,dai{color:var(--dai)!important}
.kas,kas{color:var(--kas)!important}.miz,miz{color:var(--miz)!important}
.den,den{color:var(--den)!important}

cr::before{content:"\0000A9";margin-right:2px}
cr{display:inline-block}

d3 a,d4 a{!important}

yo{font-size:.55rem;font-family:var(--special-font);color:var(--violet_dark);font-weight:700;text-transform:uppercase;letter-spacing:1px}

ii{font-style:italic;color:inherit;}
i2,i3{font-family:var(--secondary-font),serif;font-size:14px;font-style:italic;}
i2{color:#8c8c8c}
i3{color:var(--co2)}

d{border-bottom:3px solid var(--co2)}
d3,d4,d5,d6{padding: 2px 4px;text-transform:uppercase;font-size:9.5px;line-height:20px;font-weight:700;letter-spacing:0.5px;color:#fff}
d4,d6{box-shadow:inset 0 0 16px var(--co2)} d3,d5{box-shadow:inset 0 0 16px var(--co3)}
d6{color: var(--co3);background: var(--co1);box-shadow: 0 0 6px var(--blanc);} d5{background: var(--co2);box-shadow: 0 0 6px var(--co2);
}

e1{box-shadow:inset 0 -5px 0 var(--co2_fluo)}
e2{box-shadow:inset 0 -5px 0 var(--co1_fluo)}
e3{box-shadow:inset 0 -5px 0 var(--co3_fluo)}

r1,r2,r3{font-size:9.5px;text-transform:uppercase;font-weight:700;letter-spacing: 0.5px;}
r1{color:var(--co4)}
r2{color:var(--co2)}
r3{color:var(--tx_content)}

y,yy,z,ze,zf,zg,zz{font-family:var(--secondary-font),serif;color:var(--tx_content);text-shadow:1px 1px 0 var(--fonce);}
z,ze,zf,zg,zz{text-transform:uppercase}
zz{border-bottom:1px solid var(--co2)}
yy{font-family:var(--font),serif;border-bottom:1px solid;border-image:linear-gradient(to right,var(--co2),var(--co2),var(--violet_dark),var(--violet_dark)) 15}
ze,zf,zg{padding-left:8px}
ze{box-shadow:inset 2px 0 0 var(--co2)}
zg{box-shadow:inset 2px 0 0 var(--blanc)}

s1{font-family:var(--secondary-font),serif;font-weight:800;box-shadow: inset 0 -7px 0 var(--bg2_light);text-transform:uppercase;letter-spacing:0.5px}

sp{color:transparent;background-color:var(--bg2);transition:all .5s ease}
blockquote sp{ background-color:var(--tx_content); }
sp:hover{color:var(--tx);background-color:transparent}

u{text-decoration:none;border-bottom:1px dashed var(--gris)}
u1{border-bottom:1px solid var(--co1)}
u2{border-bottom:1px solid var(--co2)}
u3{border-bottom:1px solid var(--co4)}

i,em{color:#c4c4c4; line-height: unset;}
body.light i,em{color:#000000; line-height: unset;}
.infos-posteur i,.pr__data i{color:var(--blanc)}

.blckqt2{height:auto!important; width: 350px; margin: 0 auto; padding: var(--paddingcat); border-radius: var(--radiusmid); background: linear-gradient(90deg, var(--bg2), var(--bg1));}
/* ------ AES POST 2 ------ */
.cad_col{column-count:2;column-gap:16px}

t1{display:block;text-align:center;font-size:2rem;line-height:2rem;color:var(--tx_content);font-family:var(--special-font)}
t2{display:block;padding:4px 0;text-align:center;border-top:1px solid var(--bg1);border-bottom:1px solid var(--bg1);color:var(--tx_content);font-size:10px;letter-spacing:0.5px;font-weight:600;text-transform:uppercase;line-height: 20px;}
t3{display:flex;white-space:nowrap;margin:0 0 0 64px;font-family:var(--special-font);font-size:16px;color:var(--co3_light)}
t3 span{display:flex;align-items:center;padding:0 0 0 48px;border-top-left-radius:32px;background:linear-gradient(to right,var(--bg2),transparent)}
t3.t3-rt{justify-content:flex-end;margin:0 60px 0 0}
t3.t3-rt span{margin-left:auto;padding:0 50px 0 0;border-bottom-right-radius:32px;background:linear-gradient(to left,var(--blanc),transparent)}
t3 img{width:40px;height:40px;border-radius:50% 0 50% 0;margin:0 -40px;z-index:1}
t5{font-family:var(--special-font);font-size:1.2rem;}
t5 span{letter-spacing:-2px}

bt6{display:inline-flex;justify-content:center;align-items:center;padding:2px 4px;border:1px solid var(--violet_dark);}
t6{color:var(--violet_dark);background-color:transparent;text-align:center;font-size:12px;letter-spacing:0.5px;line-height:20px;text-transform:uppercase;font-family:var(--secondary-font)}
t7{font-family:var(--special-font);font-size:24px;line-height:48px}
t8{font-family:var(--special-font);font-size:24px;color:var(--tx_content)}
t9{text-transform:uppercase;font-size:10px;letter-spacing: 0.5px;color:var(--violet_dark);}

.sstitre3{width:100%!important;display:flex;justify-content:center;align-items:center;height:20px;color:white;font-weight:700;letter-spacing:0.5px;font-size:9px;text-transform:uppercase;margin:0 auto 8px}
.degrade{background:linear-gradient(140deg,var(--co2),var(--co3_light));color:white}

.note{min-height:96px;max-height:192px;overflow:auto;padding:0px 8px;font-size:12px;line-height:150%;margin: 8px 0px;}
.note img:first-of-type{width:64px;height:64px;border-radius:50%;object-fit:cover;border:1px solid var(--clair);background-color:var(--mid);padding:4px;float:left;margin-right:8px;box-sizing:border-box}
.note::-webkit-scrollbar-thumb{background-color: var(--blanc);}

div.para .note{overflow:initial; border: 1px solid var(--co1); padding: 0px 8px 0px 0px; border-radius: 8px;height: auto;width: auto;max-width: initial;max-height: fit-content;}
div.para .note > span{display:block;padding: 8px;min-height:96px;max-height:192px;overflow:auto;font-size:12px;line-height:150%;}
div.para .note > span::-webkit-scrollbar-thumb{background-color: var(--co2);}

fond{display:flex;flex-direction:column;gap:8px;} fond br{display:none!important;}
cadre{display:block;background-color:var(--bg1_tr);padding:8px;border-radius:4px;} cadre br{display:block!important;}
