.btq.top_adm-cntnt{
    padding: 0px!important;
}

.btq .tabs-onglets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1px;
}

.btq .tabs-onglets a.msg_ong{
    display: grid;
    border: 0px!important;
    grid-row-gap: 8px;
    text-align: center;
    padding: 16px 8px!important;
    align-items: center;
    align-content: center;
    justify-content: center;
    transition: all 0.3 ease;
    color: var(--blanc);
}
.btq .tabs-onglets a.msg_ong:hover{
    background-color: var(--bg_topics);
}
.btq .tabs-onglets a.msg_ong.selected{
    color: var(--fonce);
    border: 0px!important;
    background-color: var(--blanc);
}
.btq .tabs-onglets a.msg_ong.selected:hover{
    background-color: var(--blanc)!important;
}
.btq .tabs-onglets a.msg_ong ion-icon{ 
    margin: auto; 
    font-size: 16px; 
}
.btq .tabs-onglets a.msg_ong:hover ion-icon{
    animation: btq-hover 1s infinite;
}


.btq .tabs-onglets a.msg_ong span{
    font-size: 9px;
    font-family: 'Inter';
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.btq .msg_ong_contenu{
    padding: 24px;
}

div.btq_titre{
    font-family: var(--special-font);
    color: var(--blanc);
    font-size: 24px;
    line-height: 40px;
}

div.btq_item{
    display: grid;
    grid-row-gap: 4px;
    margin-bottom: 24px;
}
div.btq_item_nom{
    display: grid;
    align-content: space-between;
    align-items: center;
    grid-template-columns: 1fr max-content;
    line-height: 16px;
}
div.btq_item_nom span d4,
div.btq_item_nom span d3{
    padding: 4px;
    line-height: 16px;
}
div.btq_item_nom span i{
    line-height: 16px;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-style: normal;
    display: inline-block;
    padding: 0px 4px;
}
div.btq_item_nom span a{
    line-height: 16px;
    font-size: 9px;
    font-weight: 600;
    display: inline-block;
    padding: 0px 4px;
}
div.btq_item_nom span.prix{
    text-align: right;
    font-size: 9px;
    color: var(--blanc);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 4px 0px;
}
div.btq_item_nom span.prix ion-icon{ color: var(--co2); }
div.btq_item_desc{
    padding: 8px;
    background: var(--bg_topics);
    max-height: 88px;
    overflow: auto;
    font-size: 11px;
    line-height: 16px;
}

@keyframes btq-hover{
    0% {
        transform: rotate(10deg);
    }
    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0);
    }
}
