/* ----- NOUVELLE FICHE (2022) ----- */
div.mk_fiche{
  background-color: rgba(var(--bg1_rgb),0.4);
  box-shadow: var(--boxshadow);
  border-radius: 64px 8px 64px 8px;
  overflow: hidden!important;
  max-width: 656px;
  margin: auto;
}
div.mk_fiche br{ display: none; }
div.mk_fiche.maison{ --maison: var(--co2); }
div.mk_fiche.daichi{ --maison: var(--dai); --co2: var(--dai); }
div.mk_fiche.denki{ --maison: var(--den); --co2: var(--den); }
div.mk_fiche.kasai{ --maison: var(--kas); --co2: var(--kas); }
div.mk_fiche.kaze{ --maison: var(--kaz); --co2: var(--kaz); }
div.mk_fiche.mizu{ --maison: var(--miz); --co2: var(--miz); }

div.mk_fiche.daichi bg1{ background-color: var(--dai)!important;}
div.mk_fiche.denki bg1{ background-color: var(--den)!important;}
div.mk_fiche.kasai bg1{ background-color: var(--kas)!important;}
div.mk_fiche.kaze bg1{ background-color: var(--kaz)!important;}
div.mk_fiche.mizu bg1{ background-color: var(--miz)!important;}

.mk_fiche_section1,
.mk_fiche_section2,
.mk_fiche_section4{
  background-color: rgba(var(--bg1_rgb),0.4);
  border-radius: 53px 8px 8px 8px;
  overflow: hidden;
  position: relative;
  margin: 16px;
}
.mk_fiche_section2 { border-radius: 8px; margin: 0px 16px; padding: 16px; }
.mk_fiche_section3 { position: relative; margin: 32px 0px; }
.mk_fiche_section4 { border-radius: 8px 8px 53px 8px; }

.scenario .mk_fiche_section3{ margin-bottom: 64px; }

.mk_fiche_section1 > img{
  width: 160px;
  height: 160px;
  padding: 8px;
  border: 1px solid white;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: -16px;
  left: -16px;
  z-index: 1;
}

.mk_fiche_section1 > ion-icon,
.mk_fiche_section1 > i.fa-solid{
  color: white;
  position: absolute;
  top: 16px;
  left: 120px;
  font-size: 32px;
  padding: 8px;
  background-color: var(--maison);
  border-radius: 50%;
  z-index: 3;
}
.mk_fiche_section1 > i.fa-solid,
.maison .mk_fiche_section1 > ion-icon{ font-size: 24px; line-height: 24px; padding: 12px; }

.maison .mk_fiche_section1 > ion-icon{ animation: pulse 2s infinite; }
.daichi .mk_fiche_section1 > ion-icon{ animation: pulsedai 2s infinite; }
.denki .mk_fiche_section1 > ion-icon{ animation: pulseden 2s infinite; }
.kasai .mk_fiche_section1 > ion-icon{ animation: pulsekas 2s infinite; }
.mizu .mk_fiche_section1 > ion-icon{ animation: pulsemiz 2s infinite; }
.kaze .mk_fiche_section1 > i{ animation: pulsekaz 2s infinite; }

.mk_fiche_section1 > span,
.mk_fiche_section2 > span:nth-child(2),
.mk_fiche_section3 > span:nth-child(2),
.mk_fiche_section4 > span:nth-child(2){
  font-size: 88px;
  line-height: 88px;
  position: absolute;
  top: -16px;
  font-weight: 900;
  color: var(--bg1);
  opacity: 0.8;
}
.mk_fiche_section1 > span,
.mk_fiche_section3 > span:nth-child(2){ right: 0px; }
.mk_fiche_section2 > span:nth-child(2),
.mk_fiche_section4 > span:nth-child(2){ left: 0px; }

.mk_fiche_section3 > span:nth-child(2){ right: 20px; top: -24px; opacity: 0.8; }

.mk_fiche_infos {
  position: relative;
  z-index: 2;
  align-content: flex-start;
  margin: 16px 16px 16px 72px;
  display: grid;
  grid-template-rows: auto;
  align-items: flex-start;
  justify-items: end;
}
.mk_fiche_section4 .mk_fiche_infos{ margin: 16px; justify-items: flex-start; }

.mk_fiche_infos > span.nom {
  font-size: 16px;
  text-transform: lowercase;
  line-height: 24px;
  color: var(--tx_content);
  margin-top: 16px;
  margin-bottom: 16px;
}
.mk_fiche_infos > span.nom:after{
  display: block;
  width: 88px;
  height: 1px;
  content: " ";
  background-color: var(--maison);
  position: absolute;
  right: 0px;
  margin: 8px 0px;
}
.mk_fiche_section4 .mk_fiche_infos > span.nom:after{ left: 0px!important; }
.mk_fiche_infos > span:nth-child(2) {
  font-size: 11px;
  text-transform: lowercase;
  line-height: 16px;
}
.infos_grid {
  display: grid;
  width: 100%;
  grid-gap: 1px;
  border-radius: 4px;
  overflow: hidden;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: [row] auto [row] auto;
  backdrop-filter: blur(4px);
  margin-top: 16px;
}
.infos_grid div {
  padding: 8px;
  background-color: rgba(var(--bg1_rgb),0.6);
  color: var(--tx_content);
  font-size: 11px;
  line-height: 16px;
  display: grid;
  grid-gap: 4px;
  grid-template-rows: max-content max-content;
}
.infos_grid div:nth-child(2),
.infos_grid div:nth-child(4),
.infos_grid div:nth-child(6),
.infos_grid div:nth-child(8){ grid-row: row 1; }
.infos_grid div:nth-child(2){ grid-column: col / span 3; }
.infos_grid div:nth-child(4){ grid-column: col 4 / span 3; }
.infos_grid div:nth-child(6){ grid-column: col 7 / span 3; }
.infos_grid div:nth-child(8){ grid-column: col 10 / span 3; }
.infos_grid div:nth-child(10),
.infos_grid div:nth-child(12),
.infos_grid div:nth-child(14){ grid-row: row 2; }
.infos_grid div:nth-child(10){ grid-column: col / span 3; }
.infos_grid div:nth-child(12){ grid-column: col 4 / span 9; }
/* .infos_grid div:nth-child(14){ grid-column: col 10 / span 3; } */

.infos_grid div > label{
  display: inline-block;
  width: fit-content;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 0.5px;
  color: var(--tx_content);
  font-weight: 600;
  padding: 0px 4px;
  background: var(--bg4);
  border-radius: 2px;
  margin: 0px;
  line-height: 16px;
}
.infos_grid div > span{ display: inline-block; padding: 0px 4px; color: rgba(var(--violet_dark_rgb),0.8); }

span.aes_content {
  display: block;
  height: 164px;
  color: var(--tx_content);
  overflow: auto;
  padding-right: 16px;
  text-align: justify;
  position: relative;
  z-index: 2;
}
span.aes_content a, span.aes_content a:link{ color: var(--maison)!important; }
span.aes_content br{ display: block; }
span.aes_content::-webkit-scrollbar-thumb{ background-color: var(--maison); }

span.aes_content .tags {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 16px 0px 0px 0px;
}
span.aes_content .tags tag{
  display: inline-block;
  padding: 0px 8px;
  background: var(--bg1);
  border-radius: 2px;
  line-height: 20px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
span.aes_content .tags tag:nth-child(odd){ color: var(--co3_light); }
span.aes_content .tags tag:nth-child(even){ color: var(--maison); }

.mk_fiche_onglets{
  padding: 16px 16px 0px 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}
.mk_fiche_onglets a.msg_ong {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding: 16px!important;
  background: var(--bg1);
  color: var(--tx_content)!important;
  border-radius: 8px 8px 0px 0px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: var(--font);
  line-height: 20px;
  opacity: 0.5;
  backdrop-filter: blur(4px);
  transition: var(--transi);
  z-index: 2;
  margin: 0px!important;
  border-bottom: 0px!important;
}
.mk_fiche_onglets a.msg_ong ion-icon{ font-size: 16px; margin: 2px; }
.mk_fiche_onglets a.msg_ong.selected{ z-index: 4; background-color: var(--bg1)!important; }
.mk_fiche_onglets a.msg_ong.selected,
.mk_fiche_onglets a.msg_ong:hover{ opacity: 1; }
.mk_fiche_onglets a.msg_ong:hover ion-icon{ animation: btq-hover 1s infinite; }

.mk_fiche_section3 .msg_ong_contenu div > div{
  display: flex!important;
  gap: 0px;
  background: var(--bg1);
  box-shadow: var(--boxshadow);
  position: relative;
  z-index: 3;
  height: 320px;
}
.mk_fiche_section3 .msg_ong_contenu > div > div > div{ display: block!important; width: 100%; box-shadow: none; height: auto; }
.mk_fiche_section3 .msg_ong_contenu div.fiche_box > img{
  width: 200px;
  height: 320px;
  object-fit: cover;
  transition: var(--transi);
}
.mk_fiche_section3 .msg_ong_contenu div:hover div.fiche_box > img,
.mk_fiche_section3 .msg_ong_contenu div:hover div.fiche_box#tab3 > div > img{ width: 100px; }

.mk_fiche_section3 .msg_ong_contenu div.fiche_box > span,
.mk_fiche_section3 .msg_ong_contenu div.fiche_box > div > span{ 
  margin: 16px; 
  padding: 16px;
  overflow-y: auto; 
  overflow-x: hidden; 
  display: block; 
  width: -webkit-fill-available;     
  min-height: 224px;
  max-height: 320px; 
  text-align: justify;
  background-color: var(--bg2);
  color: var(--tx_content);
}
.mk_fiche_section3 .msg_ong_contenu div.fiche_box span a, .mk_fiche_section3 .msg_ong_contenu div.fiche_box span a:link{ color: var(--maison)!important; }
.mk_fiche_section3 .msg_ong_contenu div.fiche_box span br{ display: initial; }

.mk_fiche_section3 .msg_ong_contenu span.chrono {
  display: grid!important;
  padding: 16px 16px 16px 0px!important;
  grid-template: 1fr/auto 1fr!important;
  grid-row-gap: 8px!important;
  position: relative;
  z-index: 2;
}

.mk_fiche_section3 .msg_ong_contenu span.chrono .chrono_date {
  grid-column: 1;
  display: flex;
  min-width: 64px;
  flex-direction: column;
  text-align: center;
  margin-right: 1px;
  line-height: 120%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding: 8px;
}
.chrono_date t8 {
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 20px;
  font-style: italic;
  color: var(--co2);
  display: block;
  text-align: center;
}
.chrono_date t9 {
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: var(--violet_dark);
  display: block;
  text-align: center;
}
.chrono_date t9:after{
  display: block;
  width: 50%;
  height: 1px;
  background-color: var(--co2);
  margin: 4px auto;
  content: " ";
}

.mk_fiche_section3 .msg_ong_contenu span.chrono .chrono_fact {
  background-color: var(--bg1);
  padding: 8px;
  font-size: 12px;
}
.mk_fiche_section3 .msg_ong_contenu span.chrono br{ display: none!important; }
.mk_fiche_section3 .msg_ong_contenu span.chrono .chrono_fact br{ display: initial!important; }
.mk_fiche_section3 .msg_ong_contenu span.chrono .chrono_date br{ display: initial!important; }

span.chrono br{ display: none!important; }
span.chrono .chrono_fact br{ display: initial!important; }
span.chrono .chrono_date br{ display: initial!important; }



.mk_fiche_section3 .msg_ong_contenu div.fiche_box span r1,
.mk_fiche_section3 .msg_ong_contenu div.fiche_box span r2{ display: inline-block; }
.mk_fiche_section3 .msg_ong_contenu #tab2 div.fiche_box span,
.mk_fiche_section3 .msg_ong_contenu #tab21 div.fiche_box span,
.mk_fiche_section3 .msg_ong_contenu #tab22 div.fiche_box span,
.mk_fiche_section3 .msg_ong_contenu #tab23 div.fiche_box span,
.mk_fiche_section3 .msg_ong_contenu #tab24 div.fiche_box span,
.mk_fiche_section3 .msg_ong_contenu #tab25 div.fiche_box span,
.scenario .mk_fiche_section3 .msg_ong_contenu #tab3 div.fiche_box span{ max-height: 224px; }
.scenario .mk_fiche_section3 .msg_ong_contenu #tab2 div.fiche_box span{ max-height: 320px!important; }

.mk_fiche_section3 .msg_ong_contenu div.fiche_box span::-webkit-scrollbar-thumb{ background-color: var(--maison); }

.mk_fiche_section3 .msg_ong_contenu div.fiche_box icons{ display: flex; gap: 16px; margin: 16px auto; justify-content: center; }
.mk_fiche_section3 .msg_ong_contenu div.fiche_box icons img{ width: 48px!important; height: 48px; border-radius: 50%; object-fit: cover; }

span.hrp_infos {
  display: grid;
  grid-template-columns: 96px auto;
  grid-gap: 16px;
  height: 96px;
  margin-top: 8px;
  border-radius: 0px 0px 32px 0px;
  overflow: hidden;
  width: 100%;
}
.hrp_infos > img{
  width: 96px!important;
  height: 96px;
  object-fit: cover;
  border-radius: 32px 4px 32px 4px;
}
.hrp_infos_content{
  height: 96px;
  overflow: auto;
  padding-right: 16px;
  width: 100%;
}
.hrp_infos_content::-webkit-scrollbar-thumb{ background-color: var(--maison); }
.hrp_infos_content .infos_grid{ grid-template-columns: repeat(2, [col] 1fr); grid-auto-rows: 20px; margin: 0px 0px 8px 0px; background-color: transparent!important; }
.hrp_infos_content .infos_grid div{ grid-template-columns: max-content auto; grid-template-rows: 16px; grid-column: unset!important; grid-row: unset!important; }
.hrp_infos_content .infos_grid div:last-of-type{ grid-column: col / span 2!important; }
.hrp_infos_content p{
  font-size: 12px;
  line-height: 20px;
  color: rgba(var(--violet_dark_rgb),0.8);
  text-align: justify;
}
.hrp_infos_content p br{ display: block; }


.mk_fiche dl.codebox,
.mk_fiche dt.spoiler_title:after,
.mk_fiche .spoiler_content.hidden:before{ background-color: var(--bg1);}
.mk_fiche .spoiler_content.hidden{ background: var(--bg2_light)!important; }

/* ----- ANCIENNE FICHE (2021) ----- */
.prez{max-width:625px;margin:0 auto;background-color:var(--bgcat)}
.prez .header{display:flex;justify-content:space-between;top:0px!important;}
.header .tabs-onglets{display:flex;flex-direction:column}
.header a.msg_ong{width:120px;height:75px;display:flex;justify-content:center;align-items:center;margin-bottom:0;background-color:var(--bg1);color:var(--violet_dark);font-size:1.5rem}
.header a.selected{background-image:linear-gradient(to right, var(--co2), var(--co3))!important; color:var(--blanc)!important}
.header a.selected::before{content:'\2014 \2009'}
.prez .chrono {height:350px;overflow-y:auto}
.chrono{display:grid;grid-template:1fr/auto 1fr;grid-row-gap:15px;padding-right:5px}
.chrono>br{display:none}
.chrono_date{grid-column:1;display:flex;flex-direction:column;text-align:right;margin-right:20px;line-height:120%;align-items:center}
.chrono_date::after{content:'';width:1px;height:95%;background-color:var(--bg1);margin:2px 0 -10px}
.chrono_fact{background-color:var(--bg2_light);padding:10px}
.en_tete{width:100%;display:flex;flex-direction:column;justify-content:space-between;align-items:center}
.en_tete div:first-child{margin-top:-30px;margin-bottom:15px}
.flexbtwncenter{display:flex;align-items:center;justify-content:space-between}
.img_right,.img_left{width:200px;height:320px;object-fit:cover;transition:width .2s}
.flexbtwncenter:hover .img_right,.flexbtwncenter:hover .img_left{width:50px}
.img_right{margin:0 -20px 0 20px} 
.img_left{margin:0 20px 0 -20px}
.pic_tx{padding:40px 20px 20px 20px;background-color:var(--bg1)}
.pic_tx .desc{overflow: auto;padding:0 10px}
.section{box-sizing:border-box;width:calc(100% - 40px);margin:20px;background-color:var(--bg1);padding:16px;}
.ic_info,.ic_info2{display:flex;justify-content:space-between;width:40%;margin:0 auto}
.ic_info>div{display:flex;flex-direction:column;justify-content:space-between;align-items:center}
.prez .ic_info>div:nth-child(odd) span:first-child{background-color:var(--co2)}
.prez .ic_info>div:nth-child(even) span:first-child{background-color:var(--violet_dark)}
.ic_info>div>span:first-child{display:flex;justify-content:center;align-items:center;margin:5px 7px 5px;width:35px;height:35px;border-radius:50%;font-family:'Font Awesome 5 Free';font-size:1.2rem;color:white}
.ic_info>div>ion-icon:first-child{display:flex;justify-content:center;align-items:center;margin:5px 7px 5px;width:35px;height:35px;border-radius:50%;font-family:'Font Awesome 5 Free';font-size:1.2rem;color:white}
.ic_info>div>span:last-child{font-size:9px;letter-spacing:0.5px;font-weight:600;text-transform:uppercase;text-align:center}
.ic_info>div>ion-icon:last-child{font-size:.54rem;font-weight:600;text-transform:uppercase;text-align:center}
.ic_info2{justify-content:center!important}
.ic_info2::after{content:''!important}
.ic_info2>span{width:50px;height:50px;display:flex!important;justify-content:center;align-items:center;background-color:var(--noir);color:var(--blanc);border-radius:50%;padding:0!important;font-size:1.5rem}
.en_tete>div>img{width:75px;height:75px;object-fit:cover;border-radius:30% 0 30% 0;margin:0 10px}

/* ------ REPERTOIRE -------- */
.repertory *::-webkit-scrollbar-thumb{ background-color: var(--co2); }
/* retouches code fiche de base */
.mk_repertory nom {
    line-height: 140%;
    color: var(--co2);
    font-family: var(--special-font);
    font-size: 24px;
}
span.nom br {
    display: block;
}

/* titre de répertoire */
.repertory_title {
    text-align: center;
    margin: 0 var(--paddingcat) var(--paddingcat) var(--paddingcat);
}
.repertory_title bg1, .repertory_title bg2, .repertory_title bg3, .repertory_title bg4, .repertory_title bg5 {
  padding: 1px 4px;
  margin-top: 4px;
  display: inline-block;
}
div.repertory_title br {
    display: block;
}

/* cadres du répertoire */
div .repertory_col div br, div.repertory_summary br, div.repertory_bg1 br {
    display: block;
}
.repertory_col {
    border-radius: 0;
    margin: 0px 16px;
    padding: 0 0 var(--paddingcat) 0;
    background: none;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: var(--paddingcat);
}
.repertory_col div {
    padding: var(--paddingcat);
    background-color: rgba(var(--bg1_rgb), 0.4);
    border-radius: 8px;
}
.repertory_col div .aes_content {
    height: 155px;
}
.repertory_col div .aes_content::-webkit-scrollbar-thumb {
    background-color: var(--co2);
}

/* opaque */
.repertory_bg1 {
    padding: var(--paddingcat);
    background-color: var(--bg1);
}
/* opaque 2 */
.repertory_bg2 {
    padding: var(--paddingcat);
    background-color: var(--bg2);
}
/* transparent */
.repertory_tr {
    padding: var(--paddingcat);
    background-color: rgba(var(--bg1_rgb), 0.4);
}

/* sommaire */
.repertory_summary {
    padding: var(--paddingcat);
    background-color: var(--bg1);
}
.repertory_summary a {
    color: var(--tx_content) !important;
    width: 100%;
    display: inline-block;
    padding: 2px 4px;
    margin-bottom: 2px;
    border-radius: 4px;
    transition: var(--transi);
}
.repertory_summary a:hover {
    background-color: var(--bg2);
    padding-left: var(--paddingcat);
}

/* icons liens rapides */
.repertory_icolinks {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: end;
}
.repertory_icolinks br br {
    display: none;
}
.repertory_icolinks a {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: var(--bg1);
    padding: 5px;
    transition: var(--transi);
    box-shadow: var(---boxshadow);
}
.repertory_icolinks a ion-icon {
    color: var(--violet_dark);
    font-size: 14px;
    transition: var(--transi);
}
.repertory_icolinks a:hover {
    animation: pulse 2s infinite;
    background-color: var(--co2);
}
.repertory_icolinks a:hover ion-icon {
    color: white;
}
