/* PA (reset) */
.forumline.paccueil {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background: none;
}

.forumline.paccueil .row1 {
    padding: 0px;
}

td.row1,
td.row3.over:hover {
    background: none;
}

/* 
    
    global
    
*/

.pa_block {
    margin: 70px auto 0 auto;
    position: relative;
    z-index: 1;
    max-width: 1000px;    
    font-size: 12px;
}

/* 
    
    haut de la pa
    
*/

.pa_top {
    background: var(--bgcat);
    backdrop-filter: blur(6px);
    box-shadow: var(--boxshadow);
    border-radius: var(--radiuscat);
    display: grid;
    grid-template-columns: 1.1fr 0.9fr 1.1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    padding: var(--paddingcat);
    height: 170px;
}

/* 
    
    newsletter
    
*/

.pa_newsletter {
    z-index: 1;
    position: relative;
    grid-area: 1 / 1 / 5 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    object-fit: cover;
}

.pa_newsletter:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--co2), var(--co2_light));
    border-radius: var(--radiusmid);
    z-index: -1;
    opacity: 0.85;
}

.pa_newsletter > img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: var(--radiusmid);
    z-index: -2;
    filter: grayscale(1);
}

.pa_newsletter_title {
    font-family: var(--special-font);
    color: white;
    font-size: 24px;
    letter-spacing: 0.5px;
}

/* numéro maj */
.pa_newsletter_description {
    color: white;
    margin: 4px auto 8px auto;
    font-size: 12px;
}

.pa_button {
    color: white!important;
    font-size: 12px;
    padding: 4px 20px;
    background: linear-gradient(90deg, var(--co2), var(--co2_light));
    border-radius: 4px;
    transition: var(--transi);
}

.pa_button:hover {
    background: white;
    color: var(--co2) !important;
    transition: var(--transi);
}

/* 

    liste de liens
    
*/

.pa_links {
    z-index: 1;
    position: relative;
    grid-area: 1 / 2 / 5 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pa_links > ul {
    width: 100%;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 100%;
}

.pa_links > ul:nth-of-type(1) {
    margin-right: var(--paddingmin);
}

.pa_links li {
    font-size: 12px;
    position: relative;
    padding: var(--paddingmin);
    border-radius: var(--radiusmin);
    background-color: var(--blanc_tr);
    text-align: right;
    width: 95%;
    transition: var(--transi);
    display: flex;
}

/* icones */
.pa_links li a {
    color: var(--noir);
    opacity: 0.8;
    margin-left: auto;
    transition: var(--transi);
    width: 100%;
}

.pa_links ion-icon {
    position: absolute;
    left: 5px;
    top: 5px;
    transition: var(--transi);
}

/* couleurs des icones */
.pa_links ul:first-of-type li:nth-of-type(odd) ion-icon,
.pa_links ul:nth-of-type(2) li:nth-of-type(even) ion-icon {
    color: var(--co2);
}

.pa_links ul:first-of-type li:nth-of-type(even) ion-icon,
.pa_links ul:nth-of-type(2) li:nth-of-type(odd) ion-icon {
    color: var(--co4);
}

.pa_links li:hover {
    background-color: var(--blanc);
}

.pa_links li:hover a {
    padding-right: 15px;
    opacity: 1;
    font-weight: 500;
}

/* 

    contexte + news

*/
.pa_context {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: var(--paddingcat);
    grid-area: 1 / 3 / 5 / 3;
}

/* cadre */
.pa_context:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--radiusmid);
    padding: 1px;
    background: linear-gradient(-45deg, var(--co1), var(--co2), var(--co3));
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.pa_context_links {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0 0 6px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    height: 15%;
    transition: var(--transi);
    font-size: 13px;
    /* animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out; */
}

/* #button_news {
    z-index: -1;
    content: "";
    width: 50%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: var(--bgcat);
    padding: 3px;
    border-radius: var(--radiusmin);
    left: 0;
    right: auto;
    transition: var(--transi);
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
} */

/* liens pa */
.pa_context_links li {
    margin-top: 0;
    padding: 0;
    transition: var(--transi);
    color: var(--blanc_tr);
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0.7;
}

.pa_context_links li:hover {
    opacity: 1;
}

.pa_context_links li.selected {
    color: white;
    opacity: 1;
}

.news-content,
.context-content {
    text-align: justify;
    background-color: rgba(var(--co3_rgb),0.2);
    padding: var(--paddingmid);
    border-radius: var(--radiusmid);
    height: 74%;
    transition: var(--transi);
    display:none;
}

.context-content {
    padding: var(--paddingmid);
}

/* onglets (js) */
.pa-showed {
    display: block;
}

.context-content div,
.news-content div {
    transition: var(--transi);
    height: 100%;
    overflow: auto;
    padding-right: var(--paddingmid);
    color: white;
    line-height: 130%;
    font-size: 12px;
}
.news-content div a,
.news-content div a:link,
.news-content div a:visited{
    transition: var(--transi);
    display: inline-block;
    font-weight: 600;
    text-shadow: none;
    border-bottom: 1px solid!important;
    border-image: linear-gradient(to right,var(--co1),var(--co2_light),var(--co4)) 15!important;
}
.news-content div a:hover{
    border-bottom: 1px solid white!important;
    text-shadow: rgba(var(--blanc_rgb),0.3) 0px 0px 8px;
}

/* séparation news */
.pa_context hr {
    border: none;
    border-top: 1px solid var(--blanc_tr);
    opacity: 0.7;
    margin: 7px 0;
}

/* 

    bas de la pa

*/

.pa_bottom {
    display: grid;
    grid-template-columns: 0.9fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    padding: var(--paddingcat);
    height: 210px;
    padding: 0;
    margin-top: 16px;
}

/* 

    staff
    
*/

.pa_staff {
    background: var(--bgcat);
    backdrop-filter: blur(6px);
    box-shadow: var(--boxshadow);
    border-radius: var(--radiuscat);
    z-index: 1;
    position: relative;
    grid-area: 1 / 1 / 5 / 1;
    position: relative;
    padding: var(--paddingcat);
}
.pa_staff > div {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.3fr 0.7fr 1.4fr;
    grid-gap: var(--paddingcat);
}

/* liste d'admins */
.pa_staff_team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: var(--paddingmid);
    grid-row-gap: 0px;
    grid-area: 1 / 1 / 1 / 1;
}

.pa_staff_team a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    border-radius: var(--radiusmid);
    transition: var(--transi);
}

.pa_staff_team a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--radiusmid);
    grid-row-start: 1;
    grid-row-end: 1;
    filter: grayscale(1) blur(0);
    transition: var(--transi);
}

.pa_staff_team a:hover img {
    filter: grayscale(0);
}

.pa_staff_team span.pa_statut,
.pa_staff_team name {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    transition: var(--transi);
}

/* noms */
.pa_staff_team name {
    right: -100%;    
    color: white;
}

.pa_staff_team span.pa_statut:before,
.pa_staff_team name:before {
    content: "";
    width: 50%;
    position: absolute;
    height: 100%;
    display: block;
    z-index: -1;
    left: 0;
    opacity: 0.6;
}

.pa_staff_team span.pa_statut.abs:before {
    background-color: var(--co2);
}

.pa_staff_team span.pa_statut.pr:before {
    background-color: var(--co2_light);
}

.pa_staff_team name:before {
    background-color: var(--co3);
    width: 100%;
    opacity:0.7;
}

/* hover */
.pa_staff_team a:hover span.pa_statut {
    right: 100px;
}

.pa_staff_team a:hover name {
    right: 0;
}

/* description staff */
.pa_staff_description {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 var(--paddingmid) var(--paddingmid) var(--paddingmid);
    background-color: var(--bgcat);
    grid-area: 2 / 1 / 4 / 1;
    border-radius: var(--radiusmid);
}

/* titre */
.pa_staff_description stf {
    background-color: var(--bgcat);
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    margin-bottom: auto;
    padding: 3px 10px;
    border-radius: var(--radiusmid_bot);
}

.pa_staff_description p {
    overflow-x: auto;
    margin: 0;
    color: white;
    font-size: 12px;
    line-height: 130%;
}

/* 

    partie à droite (bas de la pa)

*/

.pa_news {
    background: rgba(var(--co3_rgb), 0.2);
    backdrop-filter: blur(6px);
    box-shadow: var(--boxshadow);
    border-radius: var(--radiuscat);
    z-index: 1;
    position: relative;
    grid-area: 1 / 2 / 5 / 4;
    display: flex;
}

.pa_news_infos {
    width: 85%;
    display: grid;
    grid-template-columns: 1.4fr 0.6fr 0.3fr 1.8fr;
    grid-template-rows: 1fr 0.3fr 1fr;
    grid-column-gap: var(--paddingmid);
    grid-row-gap: 0px;
    padding: var(--paddingcat);
}

.pa_news_infos div {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* 

    espace "saison"
    
*/

.pa_news_infos .pa_season {
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: var(--paddingmid) var(--paddingcat);
    position: relative;
    border-radius: var(--radiusmid);
    overflow: hidden;
    font-size: 12px;
}

/* dégradé */
.pa_season:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    background: linear-gradient(45deg, var(--co4_dark), var(--co4));
    opacity: 0.6;
}

/* image */
.pa_season img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    left: 0;
    opacity: 0.6;
    filter: grayscale(1);
}

.pa_season span {
    padding-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* saison */
.pa_season sai {
    padding: 0 10px 0 0;
    font-family: var(--special-font);
    font-size: 24px;
    letter-spacing: 0.2px;
}

/* année */
.pa_season an {
    background-color: var(--grey_dark);
    padding: 0px 5px;
    height: fit-content;
    border-radius: var(--radiusmin);
    font-size: 9px;
    box-shadow: 0 0 6px var(--noir_tr);
}

/* 

    météo 
    
*/

.pa_news_infos .pa_meteo {
    grid-area: 1 / 2 / 1 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* icone */

.pa_meteo span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

.pa_meteo span:before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-color: var(--co2);
    position: absolute;
    z-index: -1;
    border-radius: 40px;
    animation: bgcolor 6s ease infinite;
}

/* animation cercle */
@keyframes bgcolor {
    0% {
        background-color: var(--co2);
    }
    30% {
        background-color: var(--co4);
    }
    60% {
        background-color: var(--co2_light);
    }
    100% {
        background-color: var(--co2);
    }
}

.pa_meteo ion-icon {
    font-size: 24px;
}

/* températures */
.pa_meteo cel {
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 0.5px;
}

/* 

    compétition
    
*/

.pa_news_infos .pa_competition {
    padding: var(--paddingcat);
    grid-area: 1 / 4 / 1 / 5;
    border-radius: var(--radiusmid);
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1.4fr 0.3fr;
    justify-content: space-between;
}
body.dark .pa_news_infos .pa_competition{ background-color: var(--bgcat); }
body.light .pa_news_infos .pa_competition{ background: rgba(var(--co3_rgb), 0.2); }

/* kanji (fond) */
.pa_competition:before {
    z-index: -1;
    content: "火災";
    display: block;
    position: absolute;
    left: -3px;
    font-size: 60px;
    font-family: var(--jp-font);
    color: var(--bgcat);
    opacity: 0.5;
}

.competition_house {
    grid-area: 1 / 1 / 1 / 2;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.competition_house span {
    font-size: 12px;
    width: 100%;
}

/* maison gagnante */
.competition_house win {
    font-family: var(--special-font);
    font-size: 24px;
    letter-spacing: 0.2px;
    margin-top: 10px;
    width: 100%;
}

.pa_competition a {
    color: white;
    grid-area: 1/2/1/2;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    border-radius: var(--radiusmid);
    box-shadow: 0 0 0 0 rgba(var(--blanc_rgb), 0.5);
    -webkit-animation: pulsehouse 1.5s infinite;
}

/*

    mdms
    
*/

.pa_news_infos .pa_mdm {
    grid-area: 3 / 1 / 3 / 3;
    border-radius: var(--radiusmid);
    background-color: var(--bgcat);
    padding: var(--paddingmid);
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: var(--paddingmid);
    grid-row-gap: 0px;
}

.pa_mdm > span {
    grid-area: 1 / 1 / 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* titre */
.pa_mdm span mdm {
    font-family: var(--special-font);
    font-size: 20px;
    letter-spacing: 0.2px;
    margin-top: 10px;
}

.pa_mdm > div {
    grid-area: 1 / 2 / 1 / 2;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: var(--paddingmid);
}

.pa_mdm a {
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: var(--radiusmid);
}

/* noms des mdms */
.pa_mdm a name {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    transition: var(--transi);
    opacity: 0;
}
.pa_mdm a name ion-icon{ font-size: 16px; }

.pa_mdm a name:after {
    content: "";
    width: 30px;
    position: absolute;
    height: 30px;
    display: block;
    z-index: -1;
    background-color: var(--co2);
    padding: 5px;
    border-radius: 20px;
}

.pa_mdm a:hover name {
    opacity: 1;
}

.pa_mdm img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 

    pré-liens
    
*/

.pa_news_infos .pa_pls {
    height: 100%;
    grid-area: 3 / 3 / 3 / 5;
    display: grid;
    overflow-x: auto;
    grid-row-gap: 4px;
    justify-content: stretch;
    padding-right: 8px;
}

.pa_pls pls {
    font-family: var(--special-font);
    font-size: 16px;
    letter-spacing: 0.2px;
}

/* liens */
.pa_pls a {
    position: relative;
    overflow: hidden;
    text-align: left;
    display: block;
    padding: 3px 8px;
    font-weight: 400;
    line-height: 16px;
    color: white;
    background: rgba(var(--blanc_rgb), 0.1);
    border-radius: var(--radiusmin);
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: var(--transi);
    height: 22px;
}

.pa_pls a:hover {
    background: rgba(var(--blanc_rgb), 0.3);
}

.pa_pls a span.pa_pls_title,
.pa_pls a span.pa_pls_author {
    position: absolute;
    transition: var(--transi);
}

.pa_pls a span.pa_pls_title {
    top: 3px;
}

.pa_pls a span.pa_pls_author {
    top: 25px;
}

/* nom de l'auteur du pl / scénario */
.pa_pls a span.pa_pls_author author {
    top: 20px;
    font-family: var(--secondary-font);
    font-size: 12px;
    text-transform: lowercase;
    font-style: italic;
    font-weight: 400;
    text-shadow: 0 0 4px white;
}

.pa_pls a:hover span.pa_pls_title {
    top: -25px;
}

.pa_pls a:hover span.pa_pls_author {
    top: 2px;
}

/* 

    trait milieu
    
*/

.pa_news_infos div:nth-of-type(6) {
    grid-area: 2 / 1 / 2 / 5;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pa_news_infos div:nth-of-type(6) span {
    height: 0.5px;
    width: 100%;
    background-color: white;
}

/* 

    image à droite + liens rapides
    
*/

.pa_news_links {
    background-color: var(--bgcat);
    width: 15%;
    border-radius: var(--radiuscat_left);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: relative;
}

.pa_news_links:before {
    content: "";
    position: absolute;
    background-color: var(--co4);
    opacity: 0.5;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: var(--radiuscat_left);
}

.pa_news_links a {
    color: white;
    background-color: var(--bgcat);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    border-radius: 50px;
    z-index: 2;
    transition: var(--transi);
}

.pa_news_links a:hover {
    color: var(--co4);
    background-color: white;
    outline: 1px solid white;
    outline-offset: 5px;
}
