@font-face {
    font-family: 'Blushing Rose';
    src: url('BlushingRose-Regular2.otf') format('otf'),
         url('BlushingRose-Regular2.ttf') format('ttf'),
         url('BlushingRose-Regular2.woff2') format('woff2'),
         url('BlushingRose-Regular2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-variant-ligatures: discretionary-ligatures; 
    font-feature-settings: "liga" 1;
}
