@font-face {
    font-family: 'Finches';
    src: url('FinchesNew.woff2') format('woff2'),
        url('FinchesNew.woff') format('woff'),
        url('FinchesNew.ttf') format('truetype'),
        url('FinchesNew.svg#FinchesRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

